<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS - {{ title }}</title>
</head>
<body>
    <p>First name: {{ student.first_name }}</p>
    <p>Last name: {{ student.last_name }}</p>
    <p>Email: {{ student.email }}</p>
    <p>Birthday: {{ student.birthday }}</p>
    <p>City: {% if student.city %}{{ student.city }}{% endif %}</p>
    <p>Phone: {{ student.phone }}</p>
    <br>
    <a href="/students/update/{{ student.pk }}/">Edit</a>
    <br><br>
    <a href="/students/">Back to list</a>
</body>
</html>