{% extends 'base.html' %}

{% block title %}List of students{% endblock %}

{% block custom_css %}
    #list {
        font-family: arial, sans-serif;
        width: 100%;
        border-collapse: collapse;
    }
    #list td {
        border: 1px solid #dddd;
        padding: 8px;
    }
    #col-edit, #col-del, #col-age {
        text-align: center;
        width: 100px;
    }
    #list tr:nth-child(even) {
        background-color: #1111
    }
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingFirstName" placeholder="A" name="first_name">
                <label for="floatingFirstName">First name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingLastName" placeholder="B" name="last_name">
                <label for="floatingLastName">Last name</label>
            </div>
            <form method="get">
                <input class="btn btn-outline-primary mt-3" type="submit" value="Search"><br>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr class="text-center">
                    <th></th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Birthday</th>
                    <th>Age</th>
                    <th><i class="bi bi-pencil-fill"></i></th>
                    <th><i class="bi bi-person-x-fill"></i></th>
                </tr>
            <thead>
            <tbody>
                {% for st in students %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'students:detail' st.pk %}">{{ st.first_name }}</a></td>
                        <td>{{ st.last_name }}</td>
                        <td class="text-center">{{ st.birthday|date:"d M Y" }}</td>
        {#                    <td>{% if st.city %}{{ st.city }}{% endif %}</td> #} {#  #}   <!-- -->
                        <td class="text-center">{% if st.get_age %}{{ st.get_age }}{% endif %}</td>
                        <td class="text-center"><a class="btn btn-outline-primary btn-sm" href="{% url 'students:update' st.pk %}">Edit</a></td>
                        <td class="text-center"><a class="btn btn-outline-danger btn-sm" href="{% url 'students:delete' st.pk %}">Remove</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
