<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS - {{ title }}</title>
</head>
<body>
    <form method="get">
      <label for="fname">First name:</label>
      <input type="text" id="fname" name="first_name"><br><br>
      <label for="lname">Last name:</label>
      <input type="text" id="lname" name="last_name"><br><br>
      <input type="submit" value="Submit"><br>
    </form>
    <br>
    <a href="/students/create/">Create student</a>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Birthday</th>
                <th>Update</th>
            </tr>
        <thead>
        <tbody>
            {% for st in students %}
                <tr>
                    <td><a href="/students/detail/{{ st.pk }}/">{{ st.first_name }}</a></td>
                    <td>{{ st.last_name }}</td>
                    <td>{{ st.birthday }}</td>
{#                    <td>{% if st.city %}{{ st.city }}{% endif %}</td> #} {#  #}   <!-- -->
                    <td><a href="/students/update/{{ st.pk }}/">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
