{% extends 'base.html' %}

{% block title %}List of Groups{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="text-center">
                        <th></th>
                        <th>Title</th>
                        <th>Course</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Headman</th>
                        <th><i class="bi bi-pencil-fill"></i></th>
                        <th><i class="bi bi-person-x-fill"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'groups:detail' group.pk %}">{{ group.title }}</a></td>
                            <td class="text-center">{% if group.course %}{{ group.course }}{% endif %}</td>
                            <td class="text-center">{{ group.start_date|date:"d M Y" }}</td>
                            <td class="text-center">{{ group.end_date|date:"d M Y" }}</td>
                            <td class="text-center">{% if group.headman %}{{ group.headman.first_name }}{{ group.headman.last_name }}{% endif %}</td>
                            <td class="text-center"><a class="btn btn-outline-primary btn-sm" href="{% url 'groups:update' group.pk %}">Edit</a> </td>
                            <td class="text-center"><a class="btn btn-outline-danger btn-sm" href="{% url 'groups:delete' group.pk %}">Remove</a> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}