{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}Update selected group{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form method="post">
                {% csrf_token %}
                <table border="1">
                    {{ form|crispy }}
                </table>
                <div class="text-center">
                    <input class="btn btn-outline-primary" type="submit" value="Update">
                    <a class="btn btn-outline-primary" href="{% url 'groups:list' %}">Back to list</a>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>

{% endblock %}