{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}Create new Teacher{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-outline-primary" type="submit" value="Create">
                <a class="btn btn-outline-primary" href="{% url 'teachers:list' %}">Back to list</a>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}