<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS - {{ title }}</title>
</head>
<body>
    <p><b>First name:</b> {{ teacher.first_name }}</p>
    <p><b>Last name:</b> {{ teacher.last_name }}</p>
    <p><b>Birthday:</b> {{ teacher.birthday }}</p>
    <p><b>Salary:</b> {{ teacher.salary }}</p>
    <p><b>Email:</b> {{ teacher.email }}</p>
    <br>
    <a href="/teachers/update/{{ teacher.pk }}/"><b>Edit</b></a>
    <br><br>
    <a href="/teachers/"><b>Back to list</b></a>
</body>
</html>