{% extends 'base.html' %}

{% block title %}Details of selected Teacher{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col align-self-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ teacher.first_name }} {{ teacher.last_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ teacher.email }}</h6>
                    <p class="card-text">Birthday: {{ teacher.birthday|date:"d M Y" }} ({{ teacher.get_age }} year(s))</p>
                    <p class="card-text">Salary: {{ teacher.salary }}</p>
                    <a class="btn btn-outline-primary" href="{% url 'teachers:update' teacher.pk %}">Edit</a>
                    <a class="btn btn-outline-primary" href="{% url 'teachers:list' %}">Back to list</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}