{% extends 'base.html' %}

{% block title %}List of teachers{% endblock %}

{% block content %}
    <table border="1">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        <thead>
        <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td><a href="{% url 'teachers:detail' teacher.pk %}">{{ teacher.first_name }}</a></td>
                    <td>{{ teacher.last_name }}</td>
                    <td><a href="{% url 'teachers:update' teacher.pk %}">Edit</a></td>
                    <td><a href="{% url 'teachers:delete' teacher.pk %}">Remove</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
