{% extends 'base.html' %}

{% block title %}Details of selected course{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col align-self-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Title: {{ course.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Lessons: {{ course.lesson_count }}</h6>
                    <p class="card-text">{{ course.description }}</p>
                    <a class="btn btn-outline-primary" href="{% url 'courses:update' course.pk %}">Edit</a>
                    <a class="btn btn-outline-primary" href="{% url 'courses:list' %}">Back to list</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}