<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS - {% block title %}{% endblock %}</title>
    <style>
        #menu {
            font-family: arial, sans-serif;
            width: 50%;
        }
        {% block custom_css %}{% endblock %}
    </style>
</head>
<body>
    <table id="menu">
        <tr>
            <td style="margin: 5px; padding: 5px;"><a href="{% url 'home' %}">Home</a></td>
            <td style="margin: 5px; padding: 5px;"><a href="{% url 'students:list' %}">List of Students</a></td>
            <td style="margin: 5px; padding: 5px;"><a href="{% url 'groups:list' %}">List of Groups</a></td>
            <td style="margin: 5px; padding: 5px;"><a href="{% url 'students:create' %}">Create</a></td>
        </tr>
    </table>
    <br>
    {% block content %}{% endblock %}
</body>
</html>